{% extends 'flatpages/default.html' %}

{% block title %} News Detail {% endblock title %}

{% block content %}
<table>
    <thead>
        <th>
            Заголовок
        </th>
        <th>
            Дата публикации
        </th>
        <th>
            Автор
        </th>
        <th>
            Тип статьи
        </th>
         <th>
            Категории статей
        </th>
        <th>
            Рейтинг статьи
        </th>
        <th>
            Текст статьи
        </th>
    </thead>
    <tr>
        <td>
            {{ post.post_header|title }}
        </td>
        <td>
            {{ post.post_created|date:'M d Y' }}
        </td>
        <td>
            {{ post.id_author.id_user.username }}
        </td>
        <td>
            {{ post.get_post_type_display }}
        </td>
        <td>
            {% for cat in post.id_post_category.all %}
            {{ cat.category_name }} <br>
            {% endfor %}
        </td>
        <td>
            {{ post.post_rating }}
        </td>
        <td>
            {{ post.post_text }}
        </td>
    </tr>
</table>

{% endblock content %}