<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}

<!-- Название у нас будет News -->
{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}

<h1>{{ new.post_header }}</h1>
<h3>Автор статьи: {{ new.id_author.id_user.username }}</h3>
<h4>Рейтинг статьи: {{ new.post_rating }}</h4>
<h5>Дата публикации: {{ new.post_created|date:'d-m-Y H:i' }}</h5>

<div>{{ new.post_text|censor }}</div>
{% endblock content %}