<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Здавствуйте,{{username}} !</h2>
    <h3>Подборка статей из ваших любимых категорий за неделю</h3>
    <ul>
        {% for post in user_posts %}
            <hr>
            <li>
                <p>Статья : {{ post.post_header }}</p><br>
                <p>Дата : {{ post.post_created }}, Автор: {{ post.id_author }}</p>
                <p><b>Краткое содержание:</b> {{ post.post_text|truncatechars:50 }}
                  <br><a href="http://127.0.0.1:8000/news/{{post.pk}}">Открыть в браузере</a>
                </p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>